{
  "openapi": "3.1.0",
  "info": {
    "title": "다이소 MCP API",
    "description": "다이소 제품 검색, 매장 찾기, 재고 확인을 위한 API입니다.\n\n## 주요 기능\n- 🔍 **제품 검색**: 키워드로 다이소 제품 검색\n- 🏪 **매장 찾기**: 지역/키워드로 매장 검색\n- 📦 **재고 확인**: 온라인 및 오프라인 매장 재고 조회\n- 🧭 **통합 검색**: 여러 서비스를 한 번에 fan-out 조회\n- 🎬 **메가박스 지점/영화 조회**: 주변 지점, 상영 목록, 잔여 좌석 조회\n- 🎥 **CGV 지점/영화 조회**: 극장 목록, 영화 목록, 시간표 조회\n\n## 사용 팁\n1. 한글 검색어는 URL 인코딩이 자동 처리됩니다\n2. 재고 확인 시 먼저 제품 검색으로 제품 ID를 확인하세요\n3. 위치 기반 재고 조회 시 lat, lng 파라미터를 활용하세요",
    "version": "1.0.0",
    "contact": {
      "name": "GitHub Repository",
      "url": "https://github.com/hmmhmmhm/daiso-mcp"
    }
  },
  "servers": [
    {
      "url": "https://mcp.aka.page",
      "description": "Production Server"
    }
  ],
  "paths": {
    "/api/search": {
      "get": {
        "operationId": "unifiedSearch",
        "summary": "통합 검색",
        "description": "다이소, 올리브영, 메가박스, CGV를 한 번에 조회하는 통합 검색 엔드포인트입니다.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "공통 검색어 (cursor 요청 시 생략 가능)",
            "schema": {
              "type": "string"
            },
            "example": "강남"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "opaque continuation cursor (daiso product, oliveyoung product/store pilot 지원)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "services",
            "in": "query",
            "required": false,
            "description": "조회할 서비스 목록 (쉼표 구분)",
            "schema": {
              "type": "string",
              "example": "daiso,oliveyoung,megabox,cgv"
            }
          },
          {
            "name": "types",
            "in": "query",
            "required": false,
            "description": "조회할 결과 타입 목록 (쉼표 구분)",
            "schema": {
              "type": "string",
              "example": "product,store,movie,theater"
            }
          },
          {
            "name": "lat",
            "in": "query",
            "required": false,
            "description": "위도",
            "schema": {
              "type": "number",
              "format": "float",
              "default": 37.5665
            }
          },
          {
            "name": "lng",
            "in": "query",
            "required": false,
            "description": "경도",
            "schema": {
              "type": "number",
              "format": "float",
              "default": 126.978
            }
          },
          {
            "name": "limitPerService",
            "in": "query",
            "required": false,
            "description": "서비스별 최대 결과 수",
            "schema": {
              "type": "integer",
              "default": 5,
              "minimum": 1,
              "maximum": 50
            }
          },
          {
            "name": "timeoutMs",
            "in": "query",
            "required": false,
            "description": "서비스 fan-out 요청 시간 제한 (밀리초)",
            "schema": {
              "type": "integer",
              "default": 15000,
              "minimum": 1,
              "maximum": 30000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "조회 성공 또는 부분 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnifiedSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/daiso/products": {
      "get": {
        "operationId": "searchProducts",
        "summary": "제품 검색",
        "description": "키워드로 다이소 제품을 검색합니다. 수납박스, 펜, 정리함 등 다양한 키워드로 검색할 수 있습니다.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "검색 키워드 (예: 수납박스, 펜, 정리함)",
            "schema": {
              "type": "string"
            },
            "example": "수납박스"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "페이지 번호",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "페이지당 결과 수",
            "schema": {
              "type": "integer",
              "default": 30,
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "검색 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청 (검색어 누락)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/daiso/products/{productId}": {
      "get": {
        "operationId": "getProduct",
        "summary": "제품 상세 정보",
        "description": "제품 ID로 상세 정보를 조회합니다.",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "description": "제품 ID (제품 검색 결과의 id 값)",
            "schema": {
              "type": "string"
            },
            "example": "1234567890"
          }
        ],
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductDetailResponse"
                }
              }
            }
          },
          "404": {
            "description": "제품을 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/daiso/stores": {
      "get": {
        "operationId": "findStores",
        "summary": "매장 찾기",
        "description": "키워드 또는 지역으로 다이소 매장을 검색합니다. keyword 또는 sido 중 하나는 필수입니다.",
        "parameters": [
          {
            "name": "keyword",
            "in": "query",
            "required": false,
            "description": "매장명 또는 주소 키워드 (예: 강남, 홍대, 안산)",
            "schema": {
              "type": "string"
            },
            "example": "강남"
          },
          {
            "name": "sido",
            "in": "query",
            "required": false,
            "description": "시/도 (예: 서울, 경기, 부산)",
            "schema": {
              "type": "string"
            },
            "example": "서울"
          },
          {
            "name": "gugun",
            "in": "query",
            "required": false,
            "description": "구/군 (예: 강남구, 마포구)",
            "schema": {
              "type": "string"
            },
            "example": "강남구"
          },
          {
            "name": "dong",
            "in": "query",
            "required": false,
            "description": "동 (예: 역삼동, 합정동)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "최대 결과 수",
            "schema": {
              "type": "integer",
              "default": 50,
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "검색 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청 (필수 파라미터 누락)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/daiso/inventory": {
      "get": {
        "operationId": "checkInventory",
        "summary": "재고 확인",
        "description": "특정 제품의 온라인 재고와 매장별 재고를 확인합니다. 위치 정보를 제공하면 가까운 매장 순으로 정렬됩니다.",
        "parameters": [
          {
            "name": "productId",
            "in": "query",
            "required": true,
            "description": "제품 ID (제품 검색 결과의 id 값)",
            "schema": {
              "type": "string"
            },
            "example": "1234567890"
          },
          {
            "name": "lat",
            "in": "query",
            "required": false,
            "description": "위도 (기본값: 서울 시청 37.5665)",
            "schema": {
              "type": "number",
              "format": "float",
              "default": 37.5665
            },
            "example": 37.4979
          },
          {
            "name": "lng",
            "in": "query",
            "required": false,
            "description": "경도 (기본값: 서울 시청 126.978)",
            "schema": {
              "type": "number",
              "format": "float",
              "default": 126.978
            },
            "example": 127.0276
          },
          {
            "name": "keyword",
            "in": "query",
            "required": false,
            "description": "매장 검색어 (예: 안산, 강남)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "페이지 번호",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "페이지당 결과 수",
            "schema": {
              "type": "integer",
              "default": 30,
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InventoryResponse"
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청 (제품 ID 누락)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/oliveyoung/stores": {
      "get": {
        "operationId": "oliveyoungFindStores",
        "summary": "올리브영 매장 검색",
        "description": "위치(위도/경도)와 키워드로 올리브영 매장을 검색합니다.",
        "parameters": [
          {
            "name": "keyword",
            "in": "query",
            "required": false,
            "description": "매장명 또는 지역 키워드 (예: 명동, 강남)",
            "schema": {
              "type": "string"
            },
            "example": "명동"
          },
          {
            "name": "lat",
            "in": "query",
            "required": false,
            "description": "위도 (기본값: 서울 시청 37.5665)",
            "schema": {
              "type": "number",
              "format": "float",
              "default": 37.5665
            }
          },
          {
            "name": "lng",
            "in": "query",
            "required": false,
            "description": "경도 (기본값: 서울 시청 126.978)",
            "schema": {
              "type": "number",
              "format": "float",
              "default": 126.978
            }
          },
          {
            "name": "pageIdx",
            "in": "query",
            "required": false,
            "description": "매장 검색 페이지 번호",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "최대 결과 수",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "검색 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OliveyoungStoreSearchResponse"
                }
              }
            }
          },
          "500": {
            "description": "올리브영 API 호출 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/oliveyoung/inventory": {
      "get": {
        "operationId": "oliveyoungCheckInventory",
        "summary": "올리브영 재고 확인",
        "description": "상품 키워드로 올리브영 재고를 검색하고 주변 매장 정보를 함께 조회합니다.",
        "parameters": [
          {
            "name": "keyword",
            "in": "query",
            "required": true,
            "description": "재고를 확인할 상품 키워드",
            "schema": {
              "type": "string"
            },
            "example": "선크림"
          },
          {
            "name": "lat",
            "in": "query",
            "required": false,
            "description": "위도 (기본값: 서울 시청 37.5665)",
            "schema": {
              "type": "number",
              "format": "float",
              "default": 37.5665
            }
          },
          {
            "name": "lng",
            "in": "query",
            "required": false,
            "description": "경도 (기본값: 서울 시청 126.978)",
            "schema": {
              "type": "number",
              "format": "float",
              "default": 126.978
            }
          },
          {
            "name": "storeKeyword",
            "in": "query",
            "required": false,
            "description": "주변 매장 필터 키워드",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "상품 검색 페이지 번호",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "description": "페이지당 결과 수",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "정렬 코드",
            "schema": {
              "type": "string",
              "default": "01"
            }
          },
          {
            "name": "includeSoldOut",
            "in": "query",
            "required": false,
            "description": "품절 포함 여부 (true/false)",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OliveyoungInventoryResponse"
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청 (검색어 누락)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "올리브영 API 호출 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/megabox/theaters": {
      "get": {
        "operationId": "megaboxFindNearbyTheaters",
        "summary": "메가박스 주변 지점 조회",
        "description": "좌표 기준으로 메가박스 지점을 거리순으로 조회합니다.",
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "required": false,
            "description": "위도 (기본값: 서울 시청 37.5665)",
            "schema": {
              "type": "number",
              "format": "float",
              "default": 37.5665
            }
          },
          {
            "name": "lng",
            "in": "query",
            "required": false,
            "description": "경도 (기본값: 서울 시청 126.978)",
            "schema": {
              "type": "number",
              "format": "float",
              "default": 126.978
            }
          },
          {
            "name": "playDate",
            "in": "query",
            "required": false,
            "description": "조회 날짜 (YYYYMMDD)",
            "schema": {
              "type": "string",
              "example": "20260304"
            }
          },
          {
            "name": "areaCode",
            "in": "query",
            "required": false,
            "description": "지역 코드 (기본값: 11, 서울)",
            "schema": {
              "type": "string",
              "default": "11"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "최대 결과 수",
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MegaboxTheaterSearchResponse"
                }
              }
            }
          },
          "500": {
            "description": "메가박스 API 호출 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/megabox/movies": {
      "get": {
        "operationId": "megaboxListNowShowing",
        "summary": "메가박스 영화/회차 목록 조회",
        "description": "날짜, 지점, 영화 조건으로 메가박스 영화 및 상영 회차를 조회합니다.",
        "parameters": [
          {
            "name": "playDate",
            "in": "query",
            "required": false,
            "description": "조회 날짜 (YYYYMMDD)",
            "schema": {
              "type": "string",
              "example": "20260304"
            }
          },
          {
            "name": "theaterId",
            "in": "query",
            "required": false,
            "description": "지점 ID (예: 1372)",
            "schema": {
              "type": "string",
              "example": "1372"
            }
          },
          {
            "name": "movieId",
            "in": "query",
            "required": false,
            "description": "영화 ID (예: 25104500)",
            "schema": {
              "type": "string",
              "example": "25104500"
            }
          },
          {
            "name": "areaCode",
            "in": "query",
            "required": false,
            "description": "지역 코드 (기본값: 11, 서울)",
            "schema": {
              "type": "string",
              "default": "11"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MegaboxMovieListResponse"
                }
              }
            }
          },
          "500": {
            "description": "메가박스 API 호출 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/megabox/seats": {
      "get": {
        "operationId": "megaboxGetRemainingSeats",
        "summary": "메가박스 잔여 좌석 조회",
        "description": "영화/지점/날짜 조건으로 회차별 잔여 좌석 수를 조회합니다.",
        "parameters": [
          {
            "name": "playDate",
            "in": "query",
            "required": false,
            "description": "조회 날짜 (YYYYMMDD)",
            "schema": {
              "type": "string",
              "example": "20260304"
            }
          },
          {
            "name": "theaterId",
            "in": "query",
            "required": false,
            "description": "지점 ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "movieId",
            "in": "query",
            "required": false,
            "description": "영화 ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "areaCode",
            "in": "query",
            "required": false,
            "description": "지역 코드 (기본값: 11, 서울)",
            "schema": {
              "type": "string",
              "default": "11"
            }
          },
          {
            "name": "fromTime",
            "in": "query",
            "required": false,
            "description": "조회 시작 시각 하한 (HHMM)",
            "schema": {
              "type": "string",
              "example": "1800"
            }
          },
          {
            "name": "toTime",
            "in": "query",
            "required": false,
            "description": "조회 시작 시각 상한 (HHMM)",
            "schema": {
              "type": "string",
              "example": "2100"
            }
          },
          {
            "name": "minRemainingSeats",
            "in": "query",
            "required": false,
            "description": "최소 남은 좌석 수",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "example": 10
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "정렬 기준",
            "schema": {
              "type": "string",
              "enum": [
                "startTime-asc",
                "remainingSeats-desc",
                "remainingSeats-asc"
              ],
              "default": "startTime-asc"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "최대 결과 수",
            "schema": {
              "type": "integer",
              "default": 50,
              "minimum": 1,
              "maximum": 200
            }
          }
        ],
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MegaboxSeatListResponse"
                }
              }
            }
          },
          "400": {
            "description": "잘못된 상영 회차 필터",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "메가박스 API 호출 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/megabox/seat-map": {
      "get": {
        "operationId": "megaboxGetSeatMap",
        "summary": "메가박스 좌석맵 조회",
        "description": "회차 ID(playSchdlNo) 기준으로 메가박스 read-only 좌석맵을 조회합니다.",
        "parameters": [
          {
            "name": "playSchdlNo",
            "in": "query",
            "required": true,
            "description": "메가박스 회차 ID",
            "schema": {
              "type": "string",
              "example": "2603101372011"
            }
          },
          {
            "name": "timeoutMs",
            "in": "query",
            "required": false,
            "description": "요청 제한 시간(ms)",
            "schema": {
              "type": "integer",
              "default": 15000,
              "minimum": 1,
              "maximum": 30000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MegaboxSeatMapResponse"
                }
              }
            }
          },
          "400": {
            "description": "회차 ID 누락",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "좌석맵 미존재",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "메가박스 API 호출 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/cgv/theaters": {
      "get": {
        "operationId": "cgvFindTheaters",
        "summary": "CGV 극장 목록 조회",
        "description": "날짜/지역 코드 조건으로 CGV 극장 목록과 극장 코드를 조회합니다. 사용자가 \"고덕 CGV 영화 목록\"처럼 극장별 상영작을 물으면 이 API 대신 /api/cgv/movies/by-theater 또는 /api/cgv/movies를 사용하세요.",
        "parameters": [
          {
            "name": "playDate",
            "in": "query",
            "required": false,
            "description": "조회 날짜 (YYYYMMDD)",
            "schema": {
              "type": "string",
              "example": "20260304"
            }
          },
          {
            "name": "regionCode",
            "in": "query",
            "required": false,
            "description": "지역 코드 (예: 01 서울)",
            "schema": {
              "type": "string",
              "example": "01"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "최대 결과 수",
            "schema": {
              "type": "integer",
              "default": 30,
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CgvTheaterSearchResponse"
                }
              }
            }
          },
          "500": {
            "description": "CGV API 호출 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/cgv/movies": {
      "get": {
        "operationId": "cgvSearchMovies",
        "summary": "CGV 영화 목록 조회",
        "description": "날짜/극장 조건으로 CGV 영화 목록을 조회합니다. theaterQuery를 받으므로 \"고덕강일 CGV 영화 목록\" 같은 요청에도 사용할 수 있습니다.",
        "parameters": [
          {
            "name": "playDate",
            "in": "query",
            "required": false,
            "description": "조회 날짜 (YYYYMMDD)",
            "schema": {
              "type": "string",
              "example": "20260304"
            }
          },
          {
            "name": "theaterCode",
            "in": "query",
            "required": false,
            "description": "극장 코드 (예: 0056)",
            "schema": {
              "type": "string",
              "example": "0056"
            }
          },
          {
            "name": "theaterQuery",
            "in": "query",
            "required": false,
            "description": "극장명 검색어 (예: 고덕강일)",
            "schema": {
              "type": "string",
              "example": "고덕강일"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "정렬 기준",
            "schema": {
              "type": "string",
              "enum": [
                "popularity-desc",
                "cgv-default"
              ],
              "default": "popularity-desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CgvMovieSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "잘못된 영화 정렬 기준",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "CGV 극장을 찾지 못함",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "CGV API 호출 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/cgv/movies/by-theater": {
      "get": {
        "operationId": "cgvFindMoviesByTheater",
        "summary": "CGV 극장명 기반 영화 목록 조회",
        "description": "극장명으로 CGV 영화 목록을 조회합니다. 사용자가 \"고덕 CGV 영화 목록\", \"고덕강일 CGV 상영작\"처럼 말했을 때 가장 먼저 사용하세요.",
        "parameters": [
          {
            "name": "playDate",
            "in": "query",
            "required": false,
            "description": "조회 날짜 (YYYYMMDD)",
            "schema": {
              "type": "string",
              "example": "20260304"
            }
          },
          {
            "name": "theaterQuery",
            "in": "query",
            "required": true,
            "description": "극장명 검색어 (예: 고덕강일)",
            "schema": {
              "type": "string",
              "example": "고덕강일"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "정렬 기준",
            "schema": {
              "type": "string",
              "enum": [
                "popularity-desc",
                "cgv-default"
              ],
              "default": "popularity-desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CgvMovieSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "theaterQuery 누락 또는 잘못된 영화 정렬 기준",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "CGV 극장을 찾지 못함",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "CGV API 호출 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/cgv/timetable": {
      "get": {
        "operationId": "cgvGetTimetable",
        "summary": "CGV 시간표 조회",
        "description": "날짜/극장/영화 조건으로 CGV 상영 시간표를 조회합니다.",
        "parameters": [
          {
            "name": "playDate",
            "in": "query",
            "required": false,
            "description": "조회 날짜 (YYYYMMDD)",
            "schema": {
              "type": "string",
              "example": "20260304"
            }
          },
          {
            "name": "theaterCode",
            "in": "query",
            "required": false,
            "description": "극장 코드",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "movieCode",
            "in": "query",
            "required": false,
            "description": "영화 코드",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromTime",
            "in": "query",
            "required": false,
            "description": "조회 시작 시각 하한 (HHMM)",
            "schema": {
              "type": "string",
              "example": "1800"
            }
          },
          {
            "name": "toTime",
            "in": "query",
            "required": false,
            "description": "조회 시작 시각 상한 (HHMM)",
            "schema": {
              "type": "string",
              "example": "2100"
            }
          },
          {
            "name": "minRemainingSeats",
            "in": "query",
            "required": false,
            "description": "최소 남은 좌석 수",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "example": 10
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "정렬 기준",
            "schema": {
              "type": "string",
              "enum": [
                "startTime-asc",
                "remainingSeats-desc",
                "remainingSeats-asc"
              ],
              "default": "startTime-asc"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "최대 결과 수",
            "schema": {
              "type": "integer",
              "default": 50,
              "minimum": 1,
              "maximum": 200
            }
          }
        ],
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CgvTimetableResponse"
                }
              }
            }
          },
          "400": {
            "description": "잘못된 상영 회차 필터",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "CGV API 호출 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Product": {
        "type": "object",
        "description": "제품 정보",
        "properties": {
          "id": {
            "type": "string",
            "description": "제품 ID",
            "example": "1234567890"
          },
          "name": {
            "type": "string",
            "description": "제품명",
            "example": "PP 수납박스 대형"
          },
          "price": {
            "type": "integer",
            "description": "가격 (원)",
            "example": 5000
          },
          "imageUrl": {
            "type": "string",
            "description": "제품 이미지 URL",
            "example": "https://img.daisomall.co.kr/..."
          },
          "soldOut": {
            "type": "boolean",
            "description": "품절 여부",
            "example": false
          },
          "isNew": {
            "type": "boolean",
            "description": "신상품 여부",
            "example": false
          },
          "pickupAvailable": {
            "type": "boolean",
            "description": "매장 픽업 가능 여부",
            "example": true
          }
        }
      },
      "ProductDetail": {
        "type": "object",
        "description": "제품 상세 정보",
        "properties": {
          "id": {
            "type": "string",
            "description": "제품 ID"
          },
          "name": {
            "type": "string",
            "description": "제품명"
          },
          "price": {
            "type": "integer",
            "description": "가격 (원)"
          },
          "currency": {
            "type": "string",
            "description": "통화",
            "example": "KRW"
          },
          "imageUrl": {
            "type": "string",
            "description": "제품 이미지 URL"
          },
          "brand": {
            "type": "string",
            "description": "브랜드명"
          },
          "soldOut": {
            "type": "boolean",
            "description": "품절 여부"
          },
          "isNew": {
            "type": "boolean",
            "description": "신상품 여부"
          }
        }
      },
      "Store": {
        "type": "object",
        "description": "매장 정보",
        "properties": {
          "name": {
            "type": "string",
            "description": "매장명",
            "example": "다이소 강남역점"
          },
          "phone": {
            "type": "string",
            "description": "전화번호",
            "example": "02-1234-5678"
          },
          "address": {
            "type": "string",
            "description": "주소",
            "example": "서울특별시 강남구 강남대로 123"
          },
          "lat": {
            "type": "number",
            "format": "float",
            "description": "위도",
            "example": 37.4979
          },
          "lng": {
            "type": "number",
            "format": "float",
            "description": "경도",
            "example": 127.0276
          },
          "openTime": {
            "type": "string",
            "description": "영업 시작 시간",
            "example": "10:00"
          },
          "closeTime": {
            "type": "string",
            "description": "영업 종료 시간",
            "example": "22:00"
          },
          "options": {
            "type": "object",
            "description": "매장 옵션",
            "properties": {
              "parking": {
                "type": "boolean",
                "description": "주차 가능 여부"
              },
              "pickup": {
                "type": "boolean",
                "description": "픽업 가능 여부"
              },
              "taxFree": {
                "type": "boolean",
                "description": "면세 가능 여부"
              }
            }
          }
        }
      },
      "StoreInventory": {
        "type": "object",
        "description": "매장 재고 정보",
        "properties": {
          "storeCode": {
            "type": "string",
            "description": "매장 코드",
            "example": "ST001"
          },
          "storeName": {
            "type": "string",
            "description": "매장명",
            "example": "다이소 강남역점"
          },
          "address": {
            "type": "string",
            "description": "주소"
          },
          "distance": {
            "type": "string",
            "description": "거리",
            "example": "0.5km"
          },
          "quantity": {
            "type": "integer",
            "description": "재고 수량",
            "example": 12
          },
          "options": {
            "type": "object",
            "properties": {
              "parking": {
                "type": "boolean"
              },
              "pickup": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "ProductSearchResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "properties": {
              "products": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer",
                "description": "전체 결과 수"
              },
              "page": {
                "type": "integer",
                "description": "현재 페이지"
              },
              "pageSize": {
                "type": "integer",
                "description": "페이지당 결과 수"
              }
            }
          }
        }
      },
      "ProductDetailResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "$ref": "#/components/schemas/ProductDetail"
          }
        }
      },
      "StoreSearchResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "properties": {
              "stores": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Store"
                }
              }
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer",
                "description": "전체 결과 수"
              }
            }
          }
        }
      },
      "InventoryResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "properties": {
              "productId": {
                "type": "string",
                "description": "제품 ID"
              },
              "location": {
                "type": "object",
                "properties": {
                  "latitude": {
                    "type": "number",
                    "format": "float"
                  },
                  "longitude": {
                    "type": "number",
                    "format": "float"
                  }
                }
              },
              "onlineStock": {
                "type": "integer",
                "description": "온라인 재고 수량",
                "example": 150
              },
              "storeInventory": {
                "type": "object",
                "properties": {
                  "totalStores": {
                    "type": "integer",
                    "description": "전체 매장 수"
                  },
                  "inStockCount": {
                    "type": "integer",
                    "description": "재고 있는 매장 수"
                  },
                  "stores": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/StoreInventory"
                    }
                  }
                }
              }
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "pageSize": {
                "type": "integer"
              }
            }
          }
        }
      },
      "OliveyoungStore": {
        "type": "object",
        "description": "올리브영 매장 정보",
        "properties": {
          "storeCode": {
            "type": "string",
            "example": "D176"
          },
          "storeName": {
            "type": "string",
            "example": "올리브영 명동 타운"
          },
          "address": {
            "type": "string",
            "example": "서울특별시 중구 명동길 53"
          },
          "latitude": {
            "type": "number",
            "format": "float",
            "example": 37.56409158
          },
          "longitude": {
            "type": "number",
            "format": "float",
            "example": 126.9851771
          },
          "pickupYn": {
            "type": "boolean",
            "example": false
          },
          "o2oRemainQuantity": {
            "type": "integer",
            "example": 0
          }
        }
      },
      "OliveyoungProduct": {
        "type": "object",
        "description": "올리브영 상품 재고 정보",
        "properties": {
          "goodsNumber": {
            "type": "string",
            "example": "A000000200614"
          },
          "goodsName": {
            "type": "string",
            "example": "달바 퍼플 톤업 선크림 듀오 기획"
          },
          "priceToPay": {
            "type": "integer",
            "example": 32130
          },
          "originalPrice": {
            "type": "integer",
            "example": 51000
          },
          "discountRate": {
            "type": "integer",
            "example": 37
          },
          "o2oStockFlag": {
            "type": "boolean",
            "example": true
          },
          "o2oRemainQuantity": {
            "type": "integer",
            "example": 0
          }
        }
      },
      "OliveyoungStoreSearchResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "properties": {
              "stores": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/OliveyoungStore"
                }
              }
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "pageSize": {
                "type": "integer"
              }
            }
          }
        }
      },
      "OliveyoungInventoryResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "properties": {
              "keyword": {
                "type": "string",
                "example": "선크림"
              },
              "location": {
                "type": "object",
                "properties": {
                  "latitude": {
                    "type": "number",
                    "format": "float"
                  },
                  "longitude": {
                    "type": "number",
                    "format": "float"
                  }
                }
              },
              "nearbyStores": {
                "type": "object",
                "properties": {
                  "totalCount": {
                    "type": "integer"
                  },
                  "stores": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/OliveyoungStore"
                    }
                  }
                }
              },
              "inventory": {
                "type": "object",
                "properties": {
                  "totalCount": {
                    "type": "integer"
                  },
                  "nextPage": {
                    "type": "boolean"
                  },
                  "products": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/OliveyoungProduct"
                    }
                  }
                }
              }
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "pageSize": {
                "type": "integer"
              }
            }
          }
        }
      },
      "MegaboxTheater": {
        "type": "object",
        "properties": {
          "theaterId": {
            "type": "string",
            "example": "1372"
          },
          "theaterName": {
            "type": "string",
            "example": "강남"
          },
          "address": {
            "type": "string",
            "example": "서울특별시 강남구 강남대로 438"
          },
          "latitude": {
            "type": "number",
            "format": "float",
            "example": 37.4982
          },
          "longitude": {
            "type": "number",
            "format": "float",
            "example": 127.0264
          },
          "distanceKm": {
            "type": "number",
            "format": "float",
            "example": 0.5
          }
        }
      },
      "MegaboxShowtime": {
        "type": "object",
        "properties": {
          "scheduleId": {
            "type": "string",
            "example": "2603041372011"
          },
          "movieId": {
            "type": "string",
            "example": "25104500"
          },
          "movieName": {
            "type": "string",
            "example": "미키 17"
          },
          "theaterId": {
            "type": "string",
            "example": "1372"
          },
          "theaterName": {
            "type": "string",
            "example": "강남"
          },
          "playDate": {
            "type": "string",
            "example": "20260304"
          },
          "startTime": {
            "type": "string",
            "example": "09:30"
          },
          "endTime": {
            "type": "string",
            "example": "11:20"
          },
          "totalSeats": {
            "type": "integer",
            "example": 120
          },
          "remainingSeats": {
            "type": "integer",
            "example": 42
          }
        }
      },
      "MegaboxTheaterSearchResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "properties": {
              "location": {
                "type": "object",
                "properties": {
                  "latitude": {
                    "type": "number",
                    "format": "float"
                  },
                  "longitude": {
                    "type": "number",
                    "format": "float"
                  }
                }
              },
              "playDate": {
                "type": "string"
              },
              "areaCode": {
                "type": "string"
              },
              "theaters": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MegaboxTheater"
                }
              }
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "pageSize": {
                "type": "integer"
              }
            }
          }
        }
      },
      "MegaboxMovieListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "properties": {
              "playDate": {
                "type": "string"
              },
              "filters": {
                "type": "object",
                "properties": {
                  "theaterId": {
                    "type": "string",
                    "nullable": true
                  },
                  "movieId": {
                    "type": "string",
                    "nullable": true
                  },
                  "areaCode": {
                    "type": "string"
                  }
                }
              },
              "theaters": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "theaterId": {
                      "type": "string"
                    },
                    "theaterName": {
                      "type": "string"
                    }
                  }
                }
              },
              "movies": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "movieId": {
                      "type": "string"
                    },
                    "movieName": {
                      "type": "string"
                    },
                    "movieStatus": {
                      "type": "string"
                    }
                  }
                }
              },
              "showtimes": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MegaboxShowtime"
                }
              }
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              }
            }
          }
        }
      },
      "MegaboxSeatListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "properties": {
              "playDate": {
                "type": "string"
              },
              "filters": {
                "type": "object",
                "properties": {
                  "theaterId": {
                    "type": "string",
                    "nullable": true
                  },
                  "movieId": {
                    "type": "string",
                    "nullable": true
                  },
                  "areaCode": {
                    "type": "string"
                  }
                }
              },
              "seats": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MegaboxShowtime"
                }
              }
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "pageSize": {
                "type": "integer"
              }
            }
          }
        }
      },
      "MegaboxSeatMapSeat": {
        "type": "object",
        "properties": {
          "seatId": {
            "type": "string",
            "example": "00100101"
          },
          "seatLabel": {
            "type": "string",
            "example": "A1"
          },
          "rowLabel": {
            "type": "string",
            "example": "A"
          },
          "seatNumber": {
            "type": "integer",
            "example": 1
          },
          "rowNumber": {
            "type": "integer",
            "example": 1
          },
          "columnNumber": {
            "type": "integer",
            "example": 1
          },
          "zoneCode": {
            "type": "string",
            "nullable": true,
            "example": "GERN_ZONE"
          },
          "classCode": {
            "type": "string",
            "nullable": true,
            "example": "RECLINE_CLS"
          },
          "statusCode": {
            "type": "string",
            "nullable": true,
            "example": "GERN_SELL"
          },
          "availability": {
            "type": "string",
            "enum": [
              "available",
              "unavailable"
            ]
          },
          "exposed": {
            "type": "boolean",
            "example": true
          },
          "coordinates": {
            "type": "object",
            "properties": {
              "x": {
                "type": "integer",
                "example": 1
              },
              "y": {
                "type": "integer",
                "example": 1
              }
            }
          },
          "selectionGroupName": {
            "type": "string",
            "nullable": true,
            "example": "A2"
          },
          "note": {
            "type": "string",
            "nullable": true,
            "example": null
          }
        }
      },
      "MegaboxSeatMapPrice": {
        "type": "object",
        "properties": {
          "ticketKindCode": {
            "type": "string",
            "example": "TKA"
          },
          "ticketTypeName": {
            "type": "string",
            "example": "성인"
          },
          "amounts": {
            "type": "object",
            "additionalProperties": {
              "type": "integer"
            },
            "example": {
              "clsDisabledAmt": 15000,
              "clsReclineAmt": 17000
            }
          }
        }
      },
      "MegaboxSeatMapScheduleOption": {
        "type": "object",
        "properties": {
          "scheduleId": {
            "type": "string",
            "example": "2603101372011"
          },
          "startTime": {
            "type": "string",
            "example": "18:00"
          },
          "endTime": {
            "type": "string",
            "example": "20:07"
          },
          "remainingSeats": {
            "type": "integer",
            "example": 112
          }
        }
      },
      "MegaboxSeatMap": {
        "type": "object",
        "properties": {
          "scheduleId": {
            "type": "string",
            "example": "2603101372011"
          },
          "playDate": {
            "type": "string",
            "example": "20260310"
          },
          "movie": {
            "type": "object",
            "properties": {
              "movieId": {
                "type": "string",
                "example": "25104501"
              },
              "movieName": {
                "type": "string",
                "example": "왕과 사는 남자"
              },
              "playKindName": {
                "type": "string",
                "nullable": true,
                "example": "2D"
              },
              "rating": {
                "type": "string",
                "nullable": true,
                "example": "12세이상관람가"
              }
            }
          },
          "theater": {
            "type": "object",
            "properties": {
              "theaterId": {
                "type": "string",
                "example": "1372"
              },
              "theaterName": {
                "type": "string",
                "example": "강남"
              },
              "areaCode": {
                "type": "string",
                "nullable": true,
                "example": "10"
              }
            }
          },
          "auditorium": {
            "type": "object",
            "properties": {
              "auditoriumId": {
                "type": "string",
                "nullable": true,
                "example": "03"
              },
              "auditoriumName": {
                "type": "string",
                "nullable": true,
                "example": "르 리클라이너 3관"
              },
              "auditoriumKindCode": {
                "type": "string",
                "nullable": true,
                "example": "RCL"
              }
            }
          },
          "time": {
            "type": "object",
            "properties": {
              "startTime": {
                "type": "string",
                "example": "18:00"
              },
              "endTime": {
                "type": "string",
                "example": "20:07"
              }
            }
          },
          "summary": {
            "type": "object",
            "properties": {
              "totalSeats": {
                "type": "integer",
                "example": 116
              },
              "exposedSeats": {
                "type": "integer",
                "example": 116
              },
              "availableSeats": {
                "type": "integer",
                "example": 112
              },
              "unavailableSeats": {
                "type": "integer",
                "example": 4
              },
              "maxTicketCount": {
                "type": "integer",
                "example": 8
              }
            }
          },
          "seats": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MegaboxSeatMapSeat"
            }
          },
          "ticketPrices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MegaboxSeatMapPrice"
            }
          },
          "scheduleOptions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MegaboxSeatMapScheduleOption"
            }
          }
        }
      },
      "MegaboxSeatMapResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "properties": {
              "playSchdlNo": {
                "type": "string",
                "example": "2603101372011"
              },
              "seatMap": {
                "$ref": "#/components/schemas/MegaboxSeatMap"
              }
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer",
                "example": 116
              }
            }
          }
        }
      },
      "CgvTheater": {
        "type": "object",
        "properties": {
          "theaterCode": {
            "type": "string",
            "example": "0056"
          },
          "theaterName": {
            "type": "string",
            "example": "CGV강남"
          },
          "regionCode": {
            "type": "string",
            "example": "01"
          }
        }
      },
      "CgvMovie": {
        "type": "object",
        "properties": {
          "movieCode": {
            "type": "string",
            "example": "200001"
          },
          "movieName": {
            "type": "string",
            "example": "테스트 영화"
          },
          "rating": {
            "type": "string",
            "example": "12"
          },
          "ticketRate": {
            "type": "number",
            "example": 18.4
          },
          "showtimeCount": {
            "type": "integer",
            "example": 6
          },
          "firstStartTime": {
            "type": "string",
            "example": "10:40"
          }
        }
      },
      "CgvTimetable": {
        "type": "object",
        "properties": {
          "scheduleId": {
            "type": "string",
            "example": "SCH1"
          },
          "movieCode": {
            "type": "string",
            "example": "200001"
          },
          "movieName": {
            "type": "string",
            "example": "테스트 영화"
          },
          "theaterCode": {
            "type": "string",
            "example": "0056"
          },
          "theaterName": {
            "type": "string",
            "example": "CGV강남"
          },
          "playDate": {
            "type": "string",
            "example": "20260304"
          },
          "startTime": {
            "type": "string",
            "example": "09:30"
          },
          "endTime": {
            "type": "string",
            "example": "11:20"
          },
          "totalSeats": {
            "type": "integer",
            "example": 150
          },
          "remainingSeats": {
            "type": "integer",
            "example": 42
          }
        }
      },
      "CgvTheaterSearchResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "properties": {
              "playDate": {
                "type": "string"
              },
              "filters": {
                "type": "object",
                "properties": {
                  "regionCode": {
                    "type": "string",
                    "nullable": true
                  }
                }
              },
              "theaters": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CgvTheater"
                }
              }
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "pageSize": {
                "type": "integer"
              }
            }
          }
        }
      },
      "CgvMovieSearchResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "properties": {
              "playDate": {
                "type": "string"
              },
              "filters": {
                "type": "object",
                "properties": {
                  "theaterCode": {
                    "type": "string",
                    "nullable": true
                  },
                  "theaterQuery": {
                    "type": "string",
                    "nullable": true
                  },
                  "sort": {
                    "type": "string",
                    "example": "popularity-desc"
                  }
                }
              },
              "movies": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CgvMovie"
                }
              }
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "sortApplied": {
                "type": "string",
                "example": "popularity-desc"
              }
            }
          }
        }
      },
      "CgvTimetableResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "properties": {
              "playDate": {
                "type": "string"
              },
              "filters": {
                "type": "object",
                "properties": {
                  "theaterCode": {
                    "type": "string",
                    "nullable": true
                  },
                  "movieCode": {
                    "type": "string",
                    "nullable": true
                  }
                }
              },
              "timetable": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CgvTimetable"
                }
              }
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "pageSize": {
                "type": "integer"
              }
            }
          }
        }
      },
      "UnifiedSearchProduct": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "1001"
          },
          "title": {
            "type": "string",
            "example": "정리함"
          },
          "service": {
            "type": "string",
            "example": "daiso"
          },
          "type": {
            "type": "string",
            "example": "product"
          },
          "price": {
            "type": "integer",
            "example": 1000
          },
          "originalPrice": {
            "type": "integer",
            "example": 1500
          },
          "category": {
            "type": "string",
            "example": "수납"
          },
          "imageUrl": {
            "type": "string",
            "example": "https://example.com/image.jpg"
          },
          "stockStatus": {
            "type": "string",
            "example": "in_stock"
          }
        }
      },
      "UnifiedSearchStore": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "store-1"
          },
          "title": {
            "type": "string",
            "example": "다이소 강남역점"
          },
          "service": {
            "type": "string",
            "example": "daiso"
          },
          "type": {
            "type": "string",
            "example": "store"
          },
          "address": {
            "type": "string",
            "example": "서울특별시 강남구 강남대로 123"
          },
          "phone": {
            "type": "string",
            "example": "02-1234-5678"
          },
          "latitude": {
            "type": "number",
            "format": "float",
            "example": 37.4979
          },
          "longitude": {
            "type": "number",
            "format": "float",
            "example": 127.0276
          },
          "distanceKm": {
            "type": "number",
            "format": "float",
            "example": 0.5
          },
          "pickupAvailable": {
            "type": "boolean",
            "example": true
          }
        }
      },
      "UnifiedSearchMovie": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "movie-1"
          },
          "title": {
            "type": "string",
            "example": "영화A"
          },
          "service": {
            "type": "string",
            "example": "cgv"
          },
          "type": {
            "type": "string",
            "example": "movie"
          },
          "rating": {
            "type": "string",
            "example": "12세"
          },
          "theaterName": {
            "type": "string",
            "example": "CGV 강남"
          },
          "playDate": {
            "type": "string",
            "example": "20260308"
          },
          "startTime": {
            "type": "string",
            "example": "14:00"
          }
        }
      },
      "UnifiedSearchTheater": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "0056"
          },
          "title": {
            "type": "string",
            "example": "CGV 강남"
          },
          "service": {
            "type": "string",
            "example": "cgv"
          },
          "type": {
            "type": "string",
            "example": "theater"
          },
          "address": {
            "type": "string",
            "example": "서울특별시 강남구 강남대로 438"
          },
          "latitude": {
            "type": "number",
            "format": "float",
            "example": 37.4982
          },
          "longitude": {
            "type": "number",
            "format": "float",
            "example": 127.0264
          },
          "regionCode": {
            "type": "string",
            "example": "01"
          },
          "distanceKm": {
            "type": "number",
            "format": "float",
            "example": 0.2
          }
        }
      },
      "UnifiedSearchResultBuckets": {
        "type": "object",
        "properties": {
          "products": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UnifiedSearchProduct"
            }
          },
          "stores": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UnifiedSearchStore"
            }
          },
          "movies": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UnifiedSearchMovie"
            }
          },
          "theaters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UnifiedSearchTheater"
            }
          }
        }
      },
      "UnifiedSearchError": {
        "type": "object",
        "properties": {
          "service": {
            "type": "string",
            "example": "oliveyoung"
          },
          "code": {
            "type": "string",
            "example": "TIMEOUT"
          },
          "message": {
            "type": "string",
            "example": "올리브영 API 요청 시간 초과"
          }
        }
      },
      "UnifiedSearchBucketMeta": {
        "type": "object",
        "properties": {
          "returnedCount": {
            "type": "integer",
            "example": 5
          },
          "truncated": {
            "type": "boolean",
            "example": false
          },
          "sortApplied": {
            "type": "string",
            "example": "service-default"
          },
          "nextCursor": {
            "type": "string",
            "example": "opaque-token"
          }
        }
      },
      "UnifiedSearchServiceMeta": {
        "type": "object",
        "properties": {
          "products": {
            "$ref": "#/components/schemas/UnifiedSearchBucketMeta"
          },
          "stores": {
            "$ref": "#/components/schemas/UnifiedSearchBucketMeta"
          },
          "movies": {
            "$ref": "#/components/schemas/UnifiedSearchBucketMeta"
          },
          "theaters": {
            "$ref": "#/components/schemas/UnifiedSearchBucketMeta"
          }
        }
      },
      "UnifiedSearchResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "properties": {
              "query": {
                "type": "string",
                "example": "강남"
              },
              "results": {
                "type": "object",
                "properties": {
                  "daiso": {
                    "$ref": "#/components/schemas/UnifiedSearchResultBuckets"
                  },
                  "oliveyoung": {
                    "$ref": "#/components/schemas/UnifiedSearchResultBuckets"
                  },
                  "megabox": {
                    "$ref": "#/components/schemas/UnifiedSearchResultBuckets"
                  },
                  "cgv": {
                    "$ref": "#/components/schemas/UnifiedSearchResultBuckets"
                  }
                }
              },
              "errors": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/UnifiedSearchError"
                }
              }
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "partialFailure": {
                "type": "boolean",
                "example": false
              },
              "requestedServices": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "requestedTypes": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "limitPerService": {
                "type": "integer",
                "example": 5
              },
              "timeoutMs": {
                "type": "integer",
                "example": 15000
              },
              "services": {
                "type": "object",
                "properties": {
                  "daiso": {
                    "$ref": "#/components/schemas/UnifiedSearchServiceMeta"
                  },
                  "oliveyoung": {
                    "$ref": "#/components/schemas/UnifiedSearchServiceMeta"
                  },
                  "megabox": {
                    "$ref": "#/components/schemas/UnifiedSearchServiceMeta"
                  },
                  "cgv": {
                    "$ref": "#/components/schemas/UnifiedSearchServiceMeta"
                  }
                }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "description": "에러 코드",
                "example": "MISSING_QUERY"
              },
              "message": {
                "type": "string",
                "description": "에러 메시지",
                "example": "검색어(q)를 입력해주세요."
              }
            }
          }
        }
      }
    }
  }
}
